#root {
  margin: 0%;
}

.sort-container {
  background-color: purple;
  color: white;
}

.header {
  background-color: greenyellow;
  text-align: center;
  width: 80%;
  height: 3em;
  margin: 0%;
  padding: 0%;
}

.burger-nav {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background-color: orange;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 0;
}

.nav-list {
  height: 11em;
  color: black;
  background-color: orange;
  margin: 0%;
  padding: 0%;
}
.closed {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  z-index: -1;
}

.article-list {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  margin: 0%;
}

.article-card {
  background-color: orange;
  padding: 1em;
  margin: 1em;
}

.article-title {
  font-weight: bold;
}

.place-holder-card {
  background-color: lightgray;
  padding-top: 0.5em;
  padding-bottom: 4em;
}

.place-holder-card-2 {
  background-color: lightgrey;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.toggled {
  background-color: green;
}

.article {
  background-color: lightyellow;
  padding: 1em;
}

.comment-card {
  background-color: lightgrey;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment-card.signed-in-user {
  background-color: lightgreen;
}

.add-comment-button,
.view-more-comments-button {
  background-color: lightgreen;
  width: 100%;
  height: 3em;
  font-size: x-large;
}

.add-comment-button.clicked {
  display: none;
}

#comment-field {
  font-size: larger;
  height: 6em;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}
