#root {
  margin: 0%;
}

.header-container {
  background-color: greenyellow;
}

.sort-container {
  background-color: purple;
  color: white;
}

.header {
  background-color: greenyellow;
  text-align: center;
  width: 80%;
  height: 3em;
  margin: 0%;
  padding: 0%;
}

.burger-nav {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background-color: orange;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 0;
}
.article-list {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  margin: 0%;
}

.article-card {
  background-color: orange;
  padding: 1em;
  margin: 1em;
}

.article-title {
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;
}
